# MacOS temporary files
**/.DS_Store

# Dataset
datasets

# Microsoft temp files
## Word temporary
~$*.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*

# python
**/__pycache__

