[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "faster-rcnn.pytorch"]
	path = faster-rcnn.pytorch
	url = https://github.com/jwyang/faster-rcnn.pytorch.git
